*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Montserrat", san-serif;
  color: #444;
  line-height: 1.5;
  background-image: url('res/images/back.png');
}
a{
  color: inherit;
  text-decoration: none;
}
h1,h2,h3{
  color: #000;
}
#main-wrapper{
  margin: auto;
  max-width: 1200px;
  background-color: #fff;
}
#nav-wrapper{
  position: fixed;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 3px 1px rgba(200 200 200 / 40%);
}
#nav-wrapper:hover{
  background-color: #fff;
}
#bars{
  position: absolute;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(0 0 0 / 20%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#bars div{
  width: 60%;
  height: 10%;
  margin: 2px;
  background-color: rgba(255 255 255 / 50%);
}
#nav-list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.nav-list-iten{
  display: inline-block;
  padding: 10px;
}
.nav-link{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  transition: all .5s ease-in-out;
}
.nav-link:hover{
  font-size: 1.2rem;
  font-weight: 500;
  color: orangered;
  transition: all .5s ease-in-out;
}
#logo img{
  width: 40px;
}
#hero{
  min-height: 100vh;
  padding: 10%;
  background-image: url('res/images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#hero>*{
  max-width: 600px;
  margin:15px 0;
}
#hero h1{
  text-shadow: 1px 1px #fff, -1px -1px #fff, -1px 1px #fff, 1px -1px #fff;
  font-size: 4rem;
  line-height: 1.2;
  color: orangered;
}
#hero p{
  padding: 10px;
  border-radius: 3px;
  background-color: rgb(200 200 200 / 80%);
}
#cta>*{
  margin-right: 15px;
}
.btn{
  display: inline-block;
  background: orangered;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
.btn-big{
  display: block;
  margin-top: 20px;
  text-align: center;
}
.section{
  margin: 10%;
}
.section:nth-of-type(even){
  padding: 10%;
  margin: auto;
}
.section>h2{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
.services-container, .product-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.service-item{
  padding: 5px;
  box-shadow: 0px 0px 1px 1px rgba(200 200 200 / 40%);
  border-radius: 4px;
}
.service-item h3{
  color: orangered;
  line-height: 1;
  margin-bottom: 10px;
  padding: 5px 0;
}
.service-item p{
  text-align: justify;
}
#products{
  background-color: #f0f0f0;
}
.product-container img{
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px rgba(200 200 200 / 40%);
}
.feature-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}
.feature-item{
  margin: 10px;
}
.feature-icon{
  width: 60px;
  height: 60px;
  margin: auto;
  background-color: orangered;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-item h3{
  margin: 10px 0;
}
.footer{
  position: relative;
  background-color: #ccc;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer h3{
  margin-bottom: 15px;
}
.footer>*{
  margin: 20px;
}
/* .footer>*:not(:nth-last-of-type(2)){
  margin-bottom: 30px;
} */
.social-media a{
  margin: 5px;
}
.footer a{
  font-weight: bold;
  transition: all .5s ease-in-out;
}
.footer a:hover{
  color: orangered;
  transition: all .5s ease-in-out;
}
#credits{
  padding: 0;
  margin: 0;
  width: 100%;
  position: sticky;
/*   background-color: black; */
  font-size: .6rem;
  bottom: 0;
  left: 0;
  text-align: center;
}

@media (max-width: 920px){
  .services-container, .product-container{
    grid-template-columns: 1fr 1fr;
  }
  .footer{
    justify-content: space-between;
  }
}
@media(max-width:600px){
  #nav-wrapper{
    z-index: 1;
  }
  .section{
    margin: 10% 20px;
  }
  .section:nth-of-type(even){
    padding: 10% 20px;
  }
  .feature-container{
    grid-template-columns: 1fr;
    place-items: center;
  }
  .services-container, .product-container{
    grid-template-columns: 1fr;
  }
  #bars{
    display: flex;
  }
  #hero h1{
    font-size: 3rem;
  }
  #hero>*{
    width: 100%;
  }
  #nav-list{
    display: flex;
    position: absolute;
    right: 0px;
    top: 60px;
    width: 50%;
    flex-direction: column;
    background-color: #fff;
    transform: translateX(100%);
    transition: all .5s ease;
  }
  .show-list{
    transform: translateX(0%) !important;
    transition: all .5s ease;
  }
  .nav-list-iten{
    width: 100%;
    text-align: center;
    padding: 10px 15px;
    margin: 1px;
    background-color: #eee;
  }
  .nav-link{
    margin: 0;
  }
}
